<mat-toolbar class="header-container">
    <div class="layout-header-left">
        <img src="logo-poseidon.png" alt="Logo">
    </div>
    <div class="layout-header-right">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <form>
            <input class="header-search-input" type="text" placeholder="Search...">
        </form>    
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>notifications_none</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
        </button>
        <span class="header-username">Felipe Vasques</span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>wrap_text</mat-icon>
        </button>
    </div>
</mat-toolbar>
  