.app-container {
    padding-top: 64px;
    height: 100vh;
}

.sidenav {
    background-color: #3C4962;
    color: white;
    margin-top: 64px;
    width: 240px;
    border-radius: 0px;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: transparent transparent;
}

.sidenav-content{
  padding: 16px 0 16px 16px;

}

.content{
    padding-right: 16px;
    padding-left: 16px;
}

.drawer-content{

}

.sidenav-content {
}
