<mat-nav-list class="sidebar-list-container">
    <div class="menu-category">FAVORITES</div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">home</mat-icon>
            <a class="submenu-item-name" routerLink="/">Dashboard</a>
        </div>
    </div>
    <div class="menu-category">PAGES</div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">home</mat-icon>
            <a class="submenu-item-name" routerLink="/">Home</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">dashboard</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Dashboard</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">check_box</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Input</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">turned_in_not</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Float Label</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">info</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Invalid State</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">phone_android</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Button</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">grid_on</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Table</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">view_list</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">List</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">share</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Tree</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">tablet_mac</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Panel</a>
        </div>
    </div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">chat_bubble_outline</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Message</a>
        </div>
    </div>
    <div class="menu-category">SETUP</div>
    <div class="list-item">
        <div class="sugbmenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">settings</mat-icon>
            <a class="submenu-item-name" routerLink="/dashboard">Settings</a>
        </div>
    </div>
</mat-nav-list>
  