.sidebar-list-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu-category{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #cdd2db;
    font-size: 0.85rem;
}

.list-item{
    height: 34px;
    padding-left: 10px;
}

.sugbmenu-item{
    display: flex;
    border-radius: 10px 0 0 10px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #cdd2db;
    padding-left: 8px;
    gap: 0.5rem;
}

.sugbmenu-item:hover{
    background-color: #59667D;
}

.sugbmenu-item:hover, .submenu-item-name:hover{
    color: white;
}

.submenu-item-icon{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submenu-item-name{
    color: #cdd2db;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}