<mat-nav-list class="sidebar-list-container">
    <div class="menu-category">PAGES</div>
    <mat-list-item routerLink="/home" routerLinkActive="active">
        <div class="submenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">home</mat-icon> <!-- Ícone ao lado do nome -->
            <span class="submenu-item-name">Home</span>
        </div>
    </mat-list-item>
    <mat-list-item routerLink="/dashboard" routerLinkActive="active" class="submenu-item">
        <div class="submenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">assessment</mat-icon> <!-- Ícone ao lado do nome -->
            <span class="submenu-item-name">Dashboard</span>
        </div>
    </mat-list-item>

    <div class="menu-category">SETUP</div>
    <mat-list-item routerLink="/config" routerLinkActive="active" class="submenu-item">
        <div class="submenu-item">
            <mat-icon class="submenu-item-icon" fontSet="material-icons-outlined">settings</mat-icon> <!-- Ícone ao lado do nome -->
            <span class="submenu-item-name">Settings</span>
        </div>
    </mat-list-item>
</mat-nav-list>
  